[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dnspython = "*"
avro = "*"
fastavro = "*"
python-dotenv = "*"
progress = "*"
pandas = "*"
pyarrow = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
